body {
  width: 100%;
  height: 97vh;
    font-size: 15pt;
    background: linear-gradient(280deg,#001EFF,#000C64);
    font-family: sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
.toastcontainer{
  margin: 5vw 3vw;
}
.toastcontainer button{
  margin: 0 6px;
  padding: 3px 12px;
  font-size: 20px;
  color: white;
  background: black;
  border: 0;
  outline: 0;
  border-radius: 3px;
}
.toastcontainer1{
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}
.toast{
  background-color: white;
  width: 260px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 0 20px rbg(0,0,0,0.3);
  padding: 0 20px;
  margin: 10px 0;
  transform: translateX(100%);
  animation: movel 0.5s linear forwards;
}
@keyframes movel{
  100%{ transform: translateX(0)}
}
.toast::after{
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 5px;
background-color: green;

animation: anim linear 4.8s forwards;
}
@keyframes anim{
  100%{width:0;}
}
.toast.error::after{
  background-color:red;
}
.toast.invalid::after{
  background-color:orange;
}
.toast span{
  margin-right: 15px;
  color: white;
  background-color: green;
  padding: 1px 6px;
  border-radius: 50%;
}
.toast.error span{
margin-right: 15px;
  color: white;
  background-color: red;
  padding: 2px 7px;
  border-radius: 50%;
}
.toast.invalid span{
  font-weight: 500;
margin-right: 15px;
  color: white;
  background-color: orange;
  font-size: 23px;
  padding: 1px 11px;
  border-radius: 50%;
}